@import "bootstrap/variables";
@import "bootstrap/mixins";

.designer-page {
  .video-block--overlay {
    height: 100%;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .video-block--text {
    @media (min-width: 1900px) {
      top: 45.5%;
    }
    a {
      font-size: 18px;
    }
    h1 {
      font-weight: 300;
      margin-bottom: 5px;
      margin-top: 10px;
      @media (min-width: $screen-lg-min) {
        font-size: 56px;
      }
      @media (min-width: 1441px) {
        font-size: 60px;
      }
      @media (min-width: 1600px) {
        font-size: 80px;
      }
    }
    .location {
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 25px;
      @media (max-width: $screen-md-max) {
        margin-bottom: 10px;
      }
      .fa {
        color: $brand-primary;
        margin-right: 5px;
      }
      @media (min-width: 1441px) {
        font-size: 36px;
      }
    }
    .raiting-group {
      font-size: 18px;
      @media (min-width: 1441px) {
        font-size: 22px;
      }
      .fa {
        color: $brand-primary;
      }
    }
    .reviews-group {
      font-size: 18px;
      @media (min-width: 1441px) {
        font-size: 22px;
      }
    }
    .list-inline {
      li {
        font-size: 18px;
        padding: 5px;
        position: relative;
        @media (min-width: 1441px) {
          font-size: 22px;
        }
        &:before {
          content: ".";
          font-size: 24px;
          left: -5px;
          line-height: 1;
          position: absolute;
          top: -2px;
          @media (min-width: 1600px) {
            top: 0;
          }
        }
        @media (min-width: $screen-sm-min) {
          &:first-child {
            &:before {
              display: none;
            }
          }
        }
      }
    }
    .btn-primary {
      margin-top: 20px;
      @media (max-width: $screen-md-max) {
        height: 60px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 16px 10px;
      }
      @media (min-width: 1900px) {
        width: 350px;
      }
    }
    @media (max-width: $screen-xs-max) {
      position: static;
      @include translate(0, 0);
      a {
        color: #000000;
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    .video-block {
      height: auto;
      margin-top: 0;
      .video-block--video {
        position: relative;
        min-width: 100%;
        img {
          min-height: 500px;
        }
      }
      .video-block--text {
        @include translate(0, 0);
        top: 0;
        margin-top: 100px;
      }
    }
    .main-title {
      margin-bottom: 0;
      margin-top: 0;
      position: relative;
      text-align: left;
      .main-content--title,
      .main-content--title-sub {
        text-align: center;
      }
      .text-right {
        text-align: center;
        margin: 0 auto 20px;
      }
    }
  }
  @media (min-width: $screen-sm-min) {
    .navbar-static-top {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: ($zindex-navbar-fixed + 1);
    }
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-lg) {
    .video-block--text {
      top: 45%
    }
  }
  .navbar-fixed-top {
    @media (min-width: $screen-sm-min) {
      @include transition(all .2s ease-in-out);
      &.affix-top {
        @include opacity(0);
        visibility: hidden;
      }
      &.affix {
        @include opacity(1);
        visibility: visible;
      }
      .navbar-center {
        position: static;
        width: 100%;
        text-align: center;
        > li {
          float: none;
          display: inline-block;
          &.pull-left {
            position: absolute;
            left: 15px;
          }
          a {
            color: #ffffff;
            margin-top: 10px;
            &:hover,
            &:focus,
            &:active {
              color: $brand-primary;
            }
            &.btn {
              color: #000000;
              font-size: 18px;
              font-weight: bold;
              height: 60px;
              margin-bottom: 20px;
              margin-top: 20px;
              padding: 18px;
              text-transform: uppercase;
              width: 350px;
              &:hover,
              &:focus,
              &:active {
                background-color: darken($brand-primary, 12%);
              }
            }
          }
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .main-title {
    @media (min-width: $screen-md-min) and (max-width: $screen-lg) {
      margin: 0;
      position: relative;
      width: 100%;
    }
    @media (min-width: $screen-lg-min) {
      position: absolute;
      margin-top: -100px;
    }
    @media (max-width: $screen-xs-max) {
      .title {
        padding-bottom: 40px;
        padding-top: 50px;
      }
    }
    .autor-group--author--img {
      display: block;
      border: 1px solid $brand-primary;
      @include border-bottom-radius(50%);
      @include border-top-radius(50%);
      height: 200px;
      width: 200px;
      left: 11%;
      position: absolute;
      text-align: center;
      top: -80px;
      img {
        @include border-bottom-radius(50%);
        @include border-top-radius(50%);
        height: 175px;
        width: 175px;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
      @media (max-width: 1600px) {
        height: 162px;
        width: 162px;
        top: -25px;
        img {
          height: 135px;
          width: 135px;
        }
      }
      @media (max-width: $screen-md-max) {
        top: 15px;
      }
      @media (max-width: $screen-sm-max) {
        left: 15px;
      }
      @media (max-width: $screen-xs-max) {
        display: block;
        left: 0;
        margin: 0 auto;
        position: relative;
        top: 25px;
      }
    }
  }
  @media (max-width: $screen-xs-max) {
    .video-block {
      .video-block--video {
        img {
          min-height: 100%;
        }
      }
      .video-block--text {
        color: #000000;
        margin-top: 20px;
        text-align: left;
        h1, .h1 {
          font-size: 28px;
        }
        .location {
          font-size: 18px;
          margin-bottom: 5px;
        }
      }
    }
  }
  .main-content:nth-child(2n) {
    background-color: #ffffff;
  }
  .lookbook {
    @media (min-width: $screen-md-min) {
      .col-md-5 {
        width: 38%;
        &.first {
          .main-img {
            &:first-child {
              margin-top: 35%;
            }
          }
        }
      }
      .col-md-7 {
        width: 62%;
      }
    }
    .main-img {
      margin-bottom: 30px;
      .btn {
        left: 8px;
        top: 8px;
        text-decoration: none;
        font-size: 15px;
        .fa {
          font-size: 24px;
          margin-right: 5px;
          vertical-align: text-top;
        }
      }
    }
    .see_more {
      border-color: $brand-primary;
      color: #000000;
      display: block;
      font-size: 24px;
      padding: 12px 0;
      width: 100%;
      @media (min-width: 1441px) {
        font-size: 26px;
        padding: 16px 12px;
      }
      @media (min-width: 1600px) {
        font-size: 32px;
        padding: 16px 12px;
      }
      @media (min-width: 1900px) {
        font-size: 48px;
        padding-left: 0;
        padding-right: 0;
      }
      @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        font-size: 40px;
      }
    }
  }
  .works {
    background-color: #f6e9d6;
    text-align: center;
    padding-bottom: 90px;
    padding-top: 70px;
    .h1, h1 {
      color: #000000;
      font-weight: bold;
      margin-bottom: 0;
      @media (min-width: 1441px) {
        font-size: 48px;
      }
    }
    .h2, h2 {
      color: #000000;
      font-weight: normal;
      margin-top: 0;
      margin-bottom: 90px;
      @media (min-width: 1441px) {
        font-size: 40px;
      }
    }
    .item {
      font-size: 18px;
      a {
        color: #000000;
        display: block;
        margin-bottom: 8px;
        margin-top: 12px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .owl-nav {
      margin-top: 0;
      .owl-prev {
        background-color: transparent;
        color: $brand-primary;
        font-size: 36px;
        position: absolute;
        top: 40%;
        left: 0;
        @include translate(0, -50%);
        @media (min-width: $screen-md-min) {
          left: -60px;
        }
        @media (min-width: 1600px) {
          left: -85px;
        }
      }
      .owl-next {
        background-color: transparent;
        color: $brand-primary;
        font-size: 36px;
        position: absolute;
        top: 40%;
        right: 0;
        @include translate(0, -50%);
        @media (min-width: $screen-md-min) {
          right: -60px;
        }
        @media (min-width: 1600px) {
          right: -85px;
        }
      }
    }
  }
  .reviews-content {
    .title-block {
      color: $brand-primary;
      font-size: 36px;
      font-weight: normal;
      text-align: left;
      @media (min-width: 1600px) {
        font-size: 48px;
      }
      @media (max-width: $screen-xs-max) {
        text-align: center;
      }
    }
    .title-autor {
      color: #000000;
      font-size: 26px;
      margin-bottom: 30px;
      @media (min-width: 1600px) {
        font-size: 32px;
        margin-bottom: 40px;
      }
    }
    .raiting-group {
      font-size: 18px;
      .fa {
        color: $brand-primary;
      }
    }
    .reviews-group {
      font-size: 18px;
    }
    .panel {
      .media {
        .media-left {
          a {
            height: 120px;
            width: 120px;
            img {
              height: 100px;
              width: 100px;
            }
          }
        }
        .media-heading {
          font-size: 32px;
        }
        .star-group {
          color: $brand-primary;
          margin-bottom: 5px;
        }
        .panel-text {
          font-size: 22px;
        }
        &.reviews {
          @media (min-width: $screen-lg-min) {
            margin-left: 15%;
          }
          .media-heading {
            font-size: 22px;
          }
        }
      }
    }
    .see_more {
      color: #000000;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .content-like {
    background-color: #f7f9fb;
    .no_width {
      font-size: 40px;
      font-weight: normal;
      line-height: 1;
    }
  }
  .content-about {
    font-size: 18px;
    .group {
      margin-bottom: 30px;
      @media (min-width: $screen-lg-min) {
        margin-bottom: 60px;
      }
    }
    .title {
      color: $brand-primary;
      font-size: 52px;
      @media (min-width: 1600px) {
        font-size: 80px;
      }
    }
    .title-sub {
      font-size: $font-size-h2;
      margin-bottom: 15px;
      @media (min-width: $screen-lg-min) {
        text-align: right;
      }
      @media (min-width: 1600px) {
        font-size: 40px;
      }
    }
    p {
      line-height: 2;
    }
    h4, .h4 {
      font-size: $font-size-h2;
      margin-bottom: 15px;
      @media (min-width: 1600px) {
        font-size: 40px;
      }
    }
    .owl-slide {
      @media (min-width: $screen-sm-min) {
        margin: 60px auto;
      }
    }
    .owl-nav {
      margin-top: 0;
      .owl-prev {
        background-color: transparent;
        color: #4f4f4f;
        font-size: 36px;
        position: absolute;
        top: 50%;
        left: 0;
        @include translate(0, -50%);
        @media (min-width: $screen-md-min) {
          left: -60px;
        }
        @media (min-width: 1600px) {
          left: -85px;
        }
      }
      .owl-next {
        background-color: transparent;
        color: #4f4f4f;
        font-size: 36px;
        position: absolute;
        top: 50%;
        right: 0;
        @include translate(0, -50%);
        @media (min-width: $screen-md-min) {
          right: -60px;
        }
        @media (min-width: 1600px) {
          right: -85px;
        }
      }
    }
  }
}