@import "bootstrap/variables";
@import "bootstrap/mixins";
.town-block {
  background-color: $brand-theme;
  border-bottom: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  .title {
    color: #ffffff;
    font-size: $font-size-h1;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 30px;
    margin-top: 55px;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #ffffff;
      border: solid $brand-theme;
      border-width: 0 20px;
      margin-left: -100%;
    }
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #ffffff;
      border: solid $brand-theme;
      border-width: 0 20px;
      margin-right: -100%;
    }
  }
  .town-block-list {
    margin-bottom: 40px;
    margin-top: 40px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    a {
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .town-block {
    padding-left: 10px;
    padding-right: 10px;
    .container {
      padding-left: 0;
      padding-right: 0;
    }
    .title {
      font-size: 26px;
    }
    .town-block-list {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
  }
}

@media (max-width: 400px) {
  .town-block {
    .title {
      position: relative;
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
    }
  }
}